:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
  color: #272142;
}

h1 {
  color: black;
  font-family: var(--heading-font);
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font);
  font-size: 64px;
}

h3 {
  font-family: var(--heading-font);
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 27px;
}
.logo {
  max-width: 150px;
}

.logo-small {
  max-width: 50px;
  max-height: auto;
  margin-left: 15px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: rgba(39, 33, 66, 0.7);
}

nav a:hover {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  line-height: 1.5;
}

.hero h2 {
  font-size: 24px;
}

.intro {
  font-size: 36px;
  font-weight: 700;
}

.content-container {
  padding: 60px 20px;
}

.content-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 1.5;
}

.content h2 {
  font-size: 18px;
  font-family: var(--body-font);
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--body-font);
}

.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  padding: 18px 46px;
  margin-top: 24px;
  margin-bottom: 49px;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.project-description {
  padding: 120px 60px;
}

.btn-secondary {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  line-height: 24px;
  padding: 18px 25px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 20px;
}

footer .contact-box p,
.btn {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  text-align: center;
}

.email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
    margin: 5px;
  }
}
